<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Projet</title>
    <link rel="stylesheet" href="{% static 'css/formulaire.css' %}">
</head>
<body>
    <header>
        <h1>Ajouter/Modifier un Projet</h1>
    </header>
    <main>
        <form method="POST">
             <h1> Pour les dates ( MOIS/JOUR/ANNEE )</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enregistrer</button>
        </form>
    </main>
</body>
</html>
